<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="UTF-8">
	  	<title>Client Side</title>
	</head>
	<body data-ng-app = 'rantsApp'>
	  	<main data-ng-controller='rantsController' data-ng-init='getAll()'>
	  		<h1>RANTS</h1>
	  		<aside data-ng-if='errors.length'>
	  			<h2>Errors:</h2>
	  			<ul data-ng-repeat='error in errors'>
	  				<li>{{error.msg}}</li>
	  			</ul>
	  			<button data-ng-click='clearErrors()'>Clear Errors</button>
	  		</aside>
	    	<ul data-ng-repeat='rant in rants'>
	    		<li name = 'thisRant'>
	    			{{rant.title}}: {{rant.rant}}
	    			<button data-ng-click='removeRant(rant)'>Delete</button>
	    			<button data-ng-if='!rant.editing' data-ng-click='rant.editing=true'>EDIT</button>
	    			<form name = "rantUpdate" data-ng-if='rant.editing' ng-model-options="{updateOn: 'submit'}" data-ng-submit ='saveRant(rant)'>
	    				<input type = 'text' name = 'rantTitle' data-ng-model='rant.title'>
	    				<input type = 'text' name = 'rantBody' data-ng-model='rant.rant'>
	    				<button type='submit'>Save Changes</button>
	    				<button data-ng-click='rant.editing=false'>Cancel</button> 
	    			</form>
	    		</li>
	    	</ul>
	    	<div data-rant-form-directive
	    		 data-save='createNewRant(rant)'
	    		 data-button-text="'create new rant'"
	    		 data-label-text="Create a new rant"></div>

	  	</main>
	  	<script src="bundle.js"></script>
	</body>
</html>











<!-- <form name='newRantForm' ng-model-options="{updateOn: 'submit'}" data-ng-submit='createNewRant()'>
	<input type = 'text' placeholder='Title' data-ng-model='newRant.title'>
	<input type = 'text' placeholder='Rant' data-ng-model='newRant.rant'>
	<button type='submit'>Create new Rant</button>
	<button type='button' data-ng-click='reset(newRantForm)'>Cancel</button>
</form> -->